link(rel='stylesheet', href='css/vendor/normalize/normalize.css')
link(rel='stylesheet', href='css/vendor/fullpage/jquery.fullPage.css')
link(rel='stylesheet', href='css/vendor/fontawesome/font-awesome.min.css')
link(rel='stylesheet', href='css/vendor/bootstrap/bootstrap.min.css')
link(rel='stylesheet', href='css/vendor/bootstrap/demo/cover.css')
link(rel='stylesheet', href='css/app.css')