script(src='js/vendor/jquery/jquery-1.11.1.min.js')
script(src='js/vendor/easings/jquery.easings.min.js')
script(src='js/vendor/fullpage/jquery.fullPage.min.js')
script(src='js/vendor/fullpage/jquery.slimscroll.min.js')
script(src='js/app.js')